:root {
    --nav-bar-width: 130px; /*calc(8vw + .25vw);*/
    --color-background-main: #121212;
    --color-background-elevated: #212121;
    --color-background-even-more-elevated: #303030;  
    --color-accent: #f44336;
    --main-content-width: calc(100vw - var(--nav-bar-width));
}
::-moz-selection { 
    color: var(--color-accent);
    background-color: transparent;
}
::selection { 
    color: var(--color-accent); 
    background-color: transparent;
}

body {
    background-color: var(--color-background-main);
    font-family: "Red Hat Display", "Roboto", sans-serif;
    color: white;
    overflow-x: hidden;
}
.red {
    color: var(--color-accent);
}
.nav-bar {
    height: 100vh;
    width: var(--nav-bar-width);
    position: fixed;
    background-color: var(--color-background-elevated);
}
.nav-bar-header {
    width: 100%;
    height: var(--nav-bar-width);
    display: block;
    text-align:center
}
.nav-bar-header-image {
    transform: translateY(25px);
}
.nav-bar-buttonlist {
    width: var(--nav-bar-width);
    display: block;
}
.nav-bar-buttonlist>li {
    height: 48px;
    display: block;
    transition: 700ms cubic-bezier(0.215, 0.610, 0.355, 1);
}
.nav-bar-buttonlist>li:hover {
    background-color: var(--color-background-even-more-elevated);
}
.nav-bar-buttonlist>li>a {
    color: white;
    line-height: 48px;
    display: block;
    text-align: center;
    height: 48px;
}
.nav-bar-buttonlist>li>a>i {
    line-height: 48px;
}
.nav-bar-footer-button {
    color: white;
    line-height: var(--nav-bar-width);
    padding: 3px;
}
.nav-bar-footer {
    width: var(--nav-bar-width);
    height: var(--nav-bar-width);
    position: absolute;
    bottom: 0;
}
.nav-bar-buttonlist-active {
    background-color: rgba(244,67,54 ,0.3);
}
.nav-bar-buttonlist-active>a>i {
    color: var(--color-accent);
}
.nav-bar-footer-button-section {
    text-align: center;
    position: relative;  
}
.main-content {
    float: right;
    height: 100vh;
    width: var(--main-content-width);
    margin-left: var(--nav-bar-width);
}
.main-content-wrapper {
    width: calc(100vw - var(--nav-bar-width) - var(--nav-bar-width) - var(--nav-bar-width));
    margin-left: 7.5vw;
    margin-top: calc(var(--nav-bar-width) / 2);
}
.main-heading {
    font-size: 80px;
    margin-block-start: 0px;
}
.main-tagline {
    font-size: 16px;
    padding-left: 3px;
    margin-bottom: 60px;
}
.main-landing-quote {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}
.landing-button-list {
    margin: 50px 0px;
}
.landing-button-list>li {
    margin: 40px 0px;
}
.landing-button-list>li>a{
    color: var(--color-accent);
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid var(--color-background-elevated);
    border-radius: 30px;
    transition: 700ms cubic-bezier(0.215, 0.610, 0.355, 1);
    font-family: 'Roboto', sans-serif;
}
.landing-button-list>li>a:hover{
    background-color: rgba(244,67,54 ,0.3);
    border: 2px solid rgba(244,67,54 ,0.3);
}
.landing-button-tooltip {
    margin-left: 0px;
    color: var(--color-background-main);
    opacity: 0;
    transition: 700ms cubic-bezier(0.215, 0.610, 0.355, 1);
}
.landing-button-list>li>a:hover ~ .landing-button-tooltip {
    margin-left: 15px;
    color: #646464;
    opacity: 1;
}
.main-content-heading {
    font-size: 30px;
}

.main-content-subheading {
    font-size: 20px;
    line-height: 40px;
}

.disclaimer-top {
    margin-top: 20px;
    padding-left: 30px;
    border-left: 3px solid #f44336;
    color: #f44336;
}

.disclaimer-top>h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

.disclaimer-top>a {
    font-family: 'Roboto',sans-serif;
}
.download-list-wrapper{
    margin-top: 20px;
}
.teamleader-wrapper {
    background-color: var(--color-background-elevated);
    margin-top: 20px;
    width: 260px;
    text-align: center;
    border-radius: 30px;
    margin-right: 20px;
    float: left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.teamleader-wrapper>img{
    width: 200px;
    height: 200px;
    margin: 20px 20px 10px 20px;
    border-radius: 20px;
}
.teamleader-wrapper>a{
    font-size: larger;
    margin-bottom: 20px;
}
.teamleader-wrapper>p{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 10px;
}
/*Soon*/
@media (max-width: 600px) {
    :root {
        --main-content-width: 90vw;
        --nav-bar-height-mobile: 50px;
        --nav-bar-button-width: 20vw;
    }
    .main-content-wrapper {
        width: var(--main-content-width);
        margin-left: 5vw;
        margin-top: 3vh;
    }
    .main-content {
        float: left;
        height: auto;
        min-height: 100vh;
        width: var(--main-content-width);
        padding-bottom: calc(20px + var(--nav-bar-height-mobile));
        margin-left: 0px;
    }
    .main-heading {
        font-size: 40px;
    }
    .main-content-heading {
        font-size: 20px;
    }
    .main-content-subheading {
        font-size: 14px;
        line-height: 20px;
    }
    .main-tagline {
        font-size: 0px;
        margin-bottom: 20px;
    }
    .nav-bar {
        height: var(--nav-bar-height-mobile);
        width: 100vw;
        bottom: 0px;
        position: fixed;
    }
    .nav-bar-header {
        display: none
    }
    .nav-bar-buttonlist {
        width: 100vw;
    }
    .nav-bar-buttonlist>li {
        height: var(--nav-bar-height-mobile);
        width: var(--nav-bar-button-width);
        float: left;
    }
    .nav-bar-footer {
        display: none;
    }
    .disclaimer-top {
        padding-left: 15px;
    }
    .disclaimer-top>a{
        font-size: 14px;
        line-height: 14px;
    }
    .main-landing-quote {
        font-size: 14px;
        line-height: 20px;
    }
    .landing-button-list {
        margin: 30px 0px;
    }
    .landing-button-list>li {
        margin: 30px 0px;
    }
    .landing-button-list>li>a{
        padding: 8px 15px;
    }

    #downloadSearchInput {
        font-size: 14px; 
        padding: 12px 0px 12px 0px; 
    }
    #downloadSearchInput:hover, #downloadSearchInput:focus {
        background-color: var(--color-background-main);
    }
    #downloadList li a {
        padding: 12px 0px 12px 0px; 
    }
    #downloadList li a:hover:not(.header) {
        background-color: var(--color-background-main);
    }
}